
env: "prod"  # "dev" "prod"
debug: false

host: "0.0.0.0"
port: 8085
data_dir: "docs"
max_file_size: 0
buffer_size: 65536  # 64M

# 可能用到的ai接口，暂时只写个这个
ollama_url: "http://localhost:11434"

admin_enable: true
admin_totp_secret: "CHANGE_ME"
admin_bypass_auth: false

icp_host:
  - ""
icp_number: ""
public_security: ""
